@model E_Shopper_Entity.Cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Alışveriş</a></li>
                <li class="active">Sepet</li>
            </ol>
        </div>
        @if (Model.CartLines.Count > 0)
        {
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Ürün</td>
                            <td class="description"></td>
                            <td class="price">Fiyat</td>
                            <td class="quantity">Adet</td>
                            <td class="total">Tutar</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.CartLines)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="~/images/product/@item.Product.Image" alt="" width="110"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.Product.Title</a></h4>
                                </td>
                                <td class="cart_price">
                                    <p class="@item.Product.Id" id="price"  style="margin:0">@item.Product.Price.ToString("c")</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <input type="button" onclick="azalt(@item.Product.Id)" value="-" class="cart_quantity_up" style="float:left" id="cart_quantity_up" />
                                        @if (item.Quantity > 0)
                                        {
                                            <input class="cart_quantity_input" type="text" id="@item.Product.Id" value=@item.Quantity autocomplete="off" size="2" style="height:2.6rem">
                                        }
                                        else
                                        {
                                            <input class="cart_quantity_input" type="text" id="@item.Product.Id" value="1" autocomplete="off" size="2" style="height:2.6rem">
                                        }

                                        <input type="button" onclick="arttir(@item.Product.Id)" value="+" class="cart_quantity_up" />
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price" id="total+@item.Product.Id" style="margin:0">@((item.Product.Price * item.Quantity).ToString("c"))</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="/Cart/RemoveFromCart/@item.Product.Id"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
            <section id="do_action">
                <div class="container">
                    <div class="heading">
                        <h3>Sonraki adımda ne yapmak istersiniz?</h3>
                        <p>Bir indirim kodunuz veya ödül puanınız olup olmadığını veya teslimat maliyetinizi tahmin etmek isteyip istemediğinizi seçin.</p>
                    </div>
                    <div class="row">
                        @Html.Action("GetCity", "Cart") 
                        <div class="col-sm-6">
                            <div class="total_area">
                                <ul>
                                    <li>Sepet Toplamı <span id="CartSubTotal">@Model.Total().ToString("c")</span></li>
                                    <li>KDV <small>%18</small> <span id="Tax"></span></li>
                                    <li>Kargo Maliyeti <span id="shippingCost">₺9.00</span></li>
                                    <li>Ödeme <span id="total"></span></li>
                                </ul>
                                @*<a class="btn btn-default update" href="">Update</a>*@
                                <a class="btn btn-default update" href="/Order/Checkout">Sepet Onayla</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Alışveriş Sepetinizde Ürün Bulunmamaktadır.
            </div>
        }

    </div>
</section> <!--/#cart_items-->


<script src="~/Scripts/js/cart.js"></script>